* { margin: 0; padding: 0; top: 0; bottom: 0;}

header {
  background-color: #252525;
  color: white;
  display:flex;
  justify-content: space-between;
  width: 100%;
  height: 15vh;
}

#secao1 > img {
  width: 35px;
  height: 35px;
}

#secao1 { 
 display: flex;
 justify-content: center;
 gap:10px;
 width: 300px;
 align-items: center;
}

#secao2 { 
  display: flex;
  justify-content: space-evenly;
  width: 200px;
  align-items: center;
 }

 @media (max-width: 500px) {
  #secao1 {
    width: auto;
  }

  #secao2 {
    display: none;
  }

  #secao1 + #secao2 img:nth-child(3) {
    display: block;
  }
}
